/* Tailwind CSS v4 */
@import 'tailwindcss';

/* Source paths for content detection */
@source '../**/*.{ts,html}';
@source '../libs/**/*.{ts,html}';

/* Material */

/* Issue with material & tailwind combination
 * https://medium.com/@anuroop.suresh/angular-19-scss-angular-material-tailwind-made-easy-6ea8a3927fda
*/
.mat-mdc-notch-piece {
  border: none;
}

html {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
